<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2021. ArseneLupin0.
  ~
  ~ Licensed under the GNU General Public License v3.0
  ~
  ~ https://www.gnu.org/licenses/gpl-3.0.html
  ~
  ~ Permissions of this strong copyleft license are conditioned on making available complete source
  ~ code of licensed works and modifications, which include larger works using a licensed work,
  ~ under the same license. Copyright and license notices must be preserved. Contributors provide
  ~ an express grant of patent rights.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.miapp.ad.ej1saincahi">

    <!-- Permite el acceso al estado del teléfono, en este caso para obtener registro de nuestras
    llamadas telefónicas:
    https://developer.android.com/reference/android/Manifest.permission#READ_PHONE_STATE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Permite el acceso para leer los datos de los contactos del usuario:
    https://developer.android.com/reference/android/Manifest.permission#READ_CONTACTS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Permite la escritura en el almacenamiento externo API 28:
    https://developer.android.com/reference/android/Manifest.permission#WRITE_EXTERNAL_STORAGE -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Permite la lectura en el almacenamiento externo:
    https://developer.android.com/reference/android/Manifest.permission#READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ej1SaInCaHi"
        tools:ignore="AllowBackup">

        <receiver
            android:name=".util.receivers.BroadcastIncomingCall"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>